<div class="container-fluid">

  <h3>User groups</h3>
  <hr class="my-2">

  <div class="d-sm-flex flex-sm-row-reverse mb-2">
    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <app-button [class]="'btn btn-sm btn-block btn-warning'"
                  [description]="'delete'"
                  [disabled]="!checkedUserGroups.length"
                  (onClick)="deleteMultipe()"></app-button>
    </div>

    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <app-button [class]="'btn btn-sm btn-block btn-primary'"
                  [description]="'add'"
                  (onClick)="addUserGroup()"></app-button>
    </div>

    <app-search-table (onStartSearch)="searchStarted()"
                      (onEndSearch)="searchEnded()"
                      (onSearch)="onSearch($event)"></app-search-table>

  </div>

  <div class="table-responsive shadow-lg rounded">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"
              class="fit">#</th>
          <th scope="col"
              class="fit">
            <app-checkbox [checked]="checkedAll"
                          [name]="'checkedAll'"
                          (onChecked)="onCheckedAll($event)"></app-checkbox>
          </th>

          <ng-container *ngFor="let column of columns; let i = index">
            <th [ngClass]="{ 'fit': column.fit }"
                scope="col">
              <app-filter-table [filterNumber]="i + 1"
                                [name]="column.name"
                                [type]="column.type"
                                [property]="column.property"
                                (onSort)="sortByColumn($event)"
                                (onFilter)="filterByColumn($event)"
                                (onClearSort)="clearSortByColumn()"
                                (onClearFilter)="clearFilterByColumn()"></app-filter-table>
            </th>
          </ng-container>
          <th scope="col"
              class="fit text-center">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngIf="!dataIsReady">
          <td colspan="100%">
            <app-loader></app-loader>
          </td>
        </tr>

        <ng-container *ngIf="dataIsReady">
          <tr
              *ngFor="let userGroup of userGroups | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
            <td scope="row"
                class="fit font-weight-bold">
              {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
            <td class="fit text-center">
              <app-checkbox [checked]="userGroup.checked"
                            [name]="'markCheckbox' + i"
                            (onChecked)="onChecked(userGroup, $event)"></app-checkbox>

            </td>
            <td>{{userGroup.userGroupName}}</td>
            <td>{{userGroup.userGroupType | capitalize}}</td>
            <td class="fit">
              <app-button [class]="'btn btn-sm btn-secondary mr-2'"
                          [icon]="'fas fa-edit'"
                          [tooltipTitle]="'edit'"
                          (onClick)="updateUserGroup(userGroup)"></app-button>

              <app-button [class]="'btn btn-sm btn-warning'"
                          [icon]="'fas fa-trash-alt'"
                          [tooltipTitle]="'delete'"
                          (onClick)="deleteUserGroup(userGroup)"></app-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="dataIsReady"
         class="d-flex justify-content-between pr-2">
      <pagination-controls class="my-pagination"
                           [responsive]="true"
                           [directionLinks]="true"
                           (pageChange)="pageChanged($event)"></pagination-controls>


      <app-items-page-amount [total]="total"
                             [page]="pagination.page"
                             [itemsPerPage]="pagination.itemsPerPage"
                             (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>

    </div>
  </div>
</div>

<app-user-group-form *ngIf="showUserGroupForm"
                     [userGroupId]="userGroupId"
                     (onAdd)="onAddOrUpdateUserGroup($event)"
                     (onUpdate)="onAddOrUpdateUserGroup($event)"
                     (onClose)="resetUserGroupForm()"></app-user-group-form>

<app-delete-form-modal *ngIf="showDeleteForm"
                       [type]="'userGroups'"
                       [description]="'userGroupName'"
                       [key]="'userGroupId'"
                       [items]="itemsToDelete"
                       (onClose)="resetDeleteForm()"
                       (onDelete)="onDeleteForm($event)"></app-delete-form-modal>
