.container {
  margin-top: 10%;
}

.wrap-login100 {
  width: 1170px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 1rem;
  box-shadow: 1rem 1.5rem 1.5rem rgb(0 0 0 / 18%)
}

.t {
  width: 50%;
  padding: 40px 100px 100px 100px;
  background: #E6DADA;
  background: -webkit-linear-gradient(to right, #748f97, #bdbdbd);
  background: linear-gradient(to right, #748f97, #bdbdbd)
}

.fas.fa-user-circle {
  font-size: 60px;
  color: #383838;
}

label {
  font-size: 18px;
  color: #424242;
}

button:disabled {
  background-color: rgb(39, 39, 39) !important;
}

button:disabled:hover {
  cursor: not-allowed;
}

.z {
  width: 50%;
  background-image: url("../../../../assets/images/logo2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 1;
}


@media only screen and (max-width: 768px) {
  .z {
    display: none;
    width: 0;
  }

  .t {
    width: 100%;
  }
}
