<div class="container">
  <div class="d-flex justify-content-center">
    <div class="d-flex wrap-login100 shadow-lg">
      <div class="t">
        <form class="form-signin"
              novalidate
              #form="ngForm"
              (ngSubmit)="login()">

          <div class="text-center mb-4">
            <i class="fas fa-user-circle"></i>
            <p class="h3 pt-2">VOD SYSTEM</p>
            <hr>
          </div>

          <div class="form-group">
            <label for="userName"
                   class="font-weight-bold">User name:</label>
            <input type="text"
                   id="userName"
                   [ngClass]="{ 'is-invalid' : !credentials.userName && (userName.dirty || userName.touched), 'is-valid' : credentials.userName }"
                   class="form-control form-control-lg"
                   placeholder="Enter user name:"
                   name="userName"
                   #userName="ngModel"
                   [(ngModel)]="credentials.userName"
                   required>
          </div>

          <div class="form-group">
            <label for="inputPassword"
                   class="font-weight-bold">Password:</label>
            <div class="input-group mb-3">
              <input [type]="showPass ? 'text' : 'password'"
                     id="inputPassword"
                     class="form-control form-control-lg"
                     [ngClass]="{ 'is-invalid' : !credentials.password  && (password.dirty || password.touched), 'is-valid' : credentials.password }"
                     placeholder="Enter password:"
                     name="password"
                     #password="ngModel"
                     [(ngModel)]="credentials.password"
                     required>
              <div class="input-group-append">
                <button *ngIf="showPass"
                        (click)="showPass = !showPass"
                        class="btn btn-secondary"
                        type="button"><i class="fas fa-eye"></i></button>
                <button *ngIf="!showPass"
                        (click)="showPass = !showPass"
                        class="btn btn-secondary"
                        type="button"><i class="fas fa-eye-slash"></i></button>
              </div>
            </div>

          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox"
                   class="custom-control-input"
                   name="rememberMe"
                   [(ngModel)]="rememberMe"
                   id="customCheck1">
            <label class="custom-control-label font-weight-bold"
                   for="customCheck1">Remember me</label>
          </div>

          <button *ngIf="!isLoading"
                  class="btn btn-lg btn-primary btn-block"
                  type="submit"
                  [disabled]="!form.valid">Login</button>

          <button *ngIf="isLoading"
                  class="btn btn-lg btn-primary btn-block"
                  type="button"
                  [disabled]="true">
            <span class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"></span>
            Loading...</button>
        </form>
      </div>
      <div class="z">

      </div>
    </div>
  </div>
</div>
