<div class="modal fade"
     id="addUpdateModal"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> {{ action | capitalize}} user group
        </h4>
        <button type="button"
                class="close"
                (click)="onCloseClicked()">&times;</button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="ml-3 my-3"></app-loader>

      <form *ngIf="dataIsReady"
            (ngSubmit)="onSubmit()"
            #form="ngForm"
            autocomplete="off"
            novalidate>
        <div class="modal-body">

          <div class="form-group">
            <label for="userName">User name:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !user.userName && (userName.dirty || userName.touched), 
                          'is-valid' : user.userName}"
                   [(ngModel)]="user.userName"
                   class="form-control"
                   name="userName"
                   id="userName"
                   placeholder="User name:"
                   #userName="ngModel"
                   required>
            <div *ngIf="!user.userName && (userName.dirty || userName.touched)"
                 class="invalid-feedback">
              Please enter user name.
            </div>
          </div>

          <div class="form-group">
            <label for="userGroup">User group:</label>
            <select name="userGroup"
                    id="userGroup"
                    class="custom-select"
                    [ngClass]="{
                          'is-invalid': !selectedUserGroup  && (userGroupModel.dirty || userGroupModel.touched), 
                          'is-valid' : selectedUserGroup }"
                    [(ngModel)]="selectedUserGroup"
                    (ngModelChange)="userGroupChanged($event)"
                    #userGroupModel="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select user group --
              </option>
              <option *ngFor="let userGroup of userGroups"
                      [ngValue]="userGroup">{{userGroup.userGroupName}}</option>
            </select>
            <div *ngIf="!selectedUserGroup && (userGroupModel.dirty || userGroupModel.touched)"
                 class="invalid-feedback">
              Please select user group.
            </div>
          </div>

          <div *ngIf="selectedUserGroup?.userGroupType === 'investigator'"
               class="form-group">
            <label for="teamLeader">Team leader:</label>
            <select name="teamLeader"
                    id="teamLeader"
                    class="custom-select"
                    [ngClass]="{
                          'is-invalid': !selectedTeamLeader  && (teamLeaderModel.dirty || teamLeaderModel.touched), 
                          'is-valid' : selectedTeamLeader }"
                    [(ngModel)]="selectedTeamLeader"
                    #teamLeaderModel="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select team leader --
              </option>
              <option *ngFor="let teamLeader of teamLeaders"
                      [ngValue]="teamLeader">{{teamLeader.userName}}</option>
            </select>
            <div *ngIf="!selectedTeamLeader && (teamLeaderModel.dirty || teamLeaderModel.touched)"
                 class="invalid-feedback">
              Please select team leader.
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-secondary'"
                      [description]="'close'"
                      (onClick)="onCloseClicked()"></app-button>

          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-primary'"
                      [type]="'submit'"
                      [disabled]="!form.valid"
                      [description]="'save changes'"></app-button>

          <app-loading-button *ngIf="isLoading"></app-loading-button>

        </div>
      </form>
    </div>
  </div>
</div>
