<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     data-keyboard="false"
     data-backdrop="static"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="deleteModalLabel">Delete</h5>
        <button *ngIf="!isLoading"
                type="button"
                class="close"
                (click)="onCloseClicked()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()"
            #form="ngForm"
            novalidate>
        <div class="modal-body">


          <div *ngIf="items.length === 1">
            <h5 translate>Are you sure you want to delete this item?</h5>
            <ul class="list-group mt-3">
              <li class="list-group-item">1. {{items[0][description]}}</li>
            </ul>
          </div>

          <div *ngIf="items.length > 1">
            <h5 translate>Are you sure you want to delete this items?</h5>

            <ul class="list-group mt-3">
              <li *ngFor="let item of items; let i = index"
                  class="list-group-item">{{i + 1}}. {{item[description]}}</li>
            </ul>
          </div>

        </div>
        <div class="modal-footer">
          <button *ngIf="!isLoading"
                  type="button"
                  class="btn btn-secondary"
                  (click)="onCloseClicked()">Close</button>
          <button *ngIf="!isLoading"
                  type="submit"
                  class="btn btn-info"
                  [disabled]="!form.valid">Confirm</button>
          <button *ngIf="isLoading"
                  class="btn btn-info"
                  type="button"
                  disabled>
            Loading...
            <span class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"></span>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
