<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

  <a class="navbar-brand"
     routerLink="menu">
    <img src="../../../assets/images/logo-meptagon-white.png"
         width="165"
         height="40"
         alt="">
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul *ngIf="loggedUser"
        class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="menu">Menu <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul *ngIf="loggedUser"
        class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a id="menu2"
           class="nav-link logout-btn dropdown-toggle"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Welcome {{ loggedUser.userName | titlecase }}
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             aria-labelledby="menu2">
          <a class="dropdown-item"
             (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
