.logout-btn {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white !important;
  cursor: pointer;
}

.nav-item.home-screen,
.nav-item.dropdown {
  margin-right: 18px;
}
