 <app-interrogation-settings *ngIf="!startInterrogationPressed"
                            (onStartIntterogation)="startInterrogation($event)"></app-interrogation-settings>

<app-start-interrogation *ngIf="startInterrogationPressed"
                         [nvr]="selectedNvr"
                         [camera]="selectedCamera"
                         [interrogation]="interrogation"
                         (onStopIntterogation)="stopInterrogation()"></app-start-interrogation>

<app-exit-interrogation-modal *ngIf="showExitInterrogationModal"
                              (onExit)="exitInterrogationModal($event)"
                              (onClose)="closeExitInterrogationModal()"></app-exit-interrogation-modal>
