.modal-body {
  overflow-x: auto;
}


::ng-deep .ui-steps .ui-steps-item {
  width: 25%;
}

::ng-deep .ui-steps.steps-custom {
  margin-bottom: 30px;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}
