<div class="modal fade"
     id="pauseContinueTimesModal"
     data-backdrop="static"
     aria-labelledby="pauseContinueTimesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="pauseContinueTimesModalLabel">Break timed</h5>
        <button type="button"
                class="close"
                (click)="onCloseClicked()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <app-loader *ngIf="!dataIsReady"></app-loader>

        <div *ngIf="dataIsReady">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Paused time</th>
                <th scope="col">Continue time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let time of times; let i = index">
                <td> <b> {{ i + 1 }}</b> </td>
                <td class="font-weight-bold">{{time.pauseTime | date : 'HH:mm:ss dd/MM/yyyy'}}</td>
                <td class="font-weight-bold"> {{time.continueTime | date : 'HH:mm:ss dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <app-button [class]="'btn btn-secondary'"
                    [description]="'close'"
                    (onClick)="onCloseClicked()"></app-button>
      </div>

    </div>
  </div>
</div>
