<app-loader *ngIf="!dataIsReady"
            class="mt-2 ml-2"></app-loader>

<div *ngIf="dataIsReady"
     id="wrapper"
     class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"> <a class="pl-3"> User interface </a> </li>
      <div class="mt-5">
        <li *ngFor="let nvr of nvrs">
          <a data-toggle="collapse"
             (click)="firstMenuClicked($event)"
             [attr.data-target]="'#camerasMenu' + nvr.nvrId"
             class="pl-2">
            <i *ngIf="nvr.isActive"
               class="fas fa-circle text-success pr-2"></i>
            <i *ngIf="!nvr.isActive"
               class="fas fa-circle text-danger pr-2"></i>
            {{nvr.nvrName}}
            <span class="float-right mr-3">
              <i class="fas fa-caret-down"></i>
            </span>
          </a>


          <ul id="camerasMenu{{nvr.nvrId}}"
              class="nav-pills nav-stacked collapse">
            <li *ngFor="let camera of cameras | filterArrayById: nvr.nvrId : 'nvrId'"
                class="camera-list camera{{camera.cameraId}}"
                [ngClass]="{ 'active-camera': camera.cameraId === selectedCamera?.cameraId }">
              <a class="pl-2"
                 (click)="onCameraSelected(camera, nvr)">
                <i *ngIf="camera.isActive"
                   class="fas fa-circle text-success pr-2"></i>
                <i *ngIf="!camera.isActive"
                   class="fas fa-circle text-danger pr-2"></i>

                {{camera.cameraName}}

                <!-- <div *ngIf="camera['isActive']"
                     class="dropdown actions">
                  <button class="btn btn-sm btn-primary dropdown-toggle"
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item"
                       (click)="playVideo(camera, nvr)">
                     <i class="fa fa-play "
                         aria-hidden="true"></i> 
                      Play video
                    </a>
                    <a class="dropdown-item"
                       (click)="stopVideo()">
                      <i class="fa fa-stop"
                         aria-hidden="true"></i>
                      Stop video
                    </a>
                    <a class="dropdown-item"
                       (click)="openSound()">
                      <i class="fa fa-volume-up "
                         aria-hidden="true"></i>
                      Audio on

                    </a>
                    <a class="dropdown-item"
                       (click)="closeSound()">
                      <i class="fa fa-volume-off"
                         aria-hidden="true"></i>
                      Audio off

                    </a>
                  </div>
                </div> -->
              </a>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">

      <div class="row align-items-end">
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-12">
          <label>Screens:</label>
          <select class="form-control"
                  [(ngModel)]="selectedAmountOfScreens"
                  (change)="changeWndNum(selectedAmountOfScreens)"
                  name="amountOfScreens">
            <option *ngFor="let screen of amountOfScreens; let i =index"
                    [ngValue]="i + 1">{{screen}}</option>
          </select>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <button type="button"
                  class="btn btn-secondary mr-2"
                  [disabled]="!selectedCamera?.isActive"
                  (click)="playVideo()">Play video</button>
          <button type="button"
                  class="btn btn-secondary mr-2"
                  [disabled]="!selectedCamera?.isActive"
                  (click)="stopVideo()">Stop video</button>
          <button type="button"
                  class="btn btn-secondary mr-2"
                  [disabled]="!selectedCamera?.isActive"
                  (click)="openSound()">Audio on</button>
          <button type="button"
                  class="btn btn-secondary mr-2"
                  [disabled]="!selectedCamera?.isActive"
                  (click)="closeSound()">Audio off</button>

        </div>

        <div class="col-sm-12">
          <app-perview-camera [height]="80"
                              [fullWidth]="true"
                              [amountOfScreens]="2"></app-perview-camera>
        </div>
      </div>

    </div>
  </div>
</div>
