body {
  overflow-x: hidden;
}

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 275px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 275px;
  width: 0;
  height: 100%;
  margin-left: -275px;
  overflow-y: auto;
  background: #343a40;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 275px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  padding-top: 80px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: 0px;
}


/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 275px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  cursor: pointer;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  padding-top: 90px;
  padding-bottom: 50px;
  font-size: 24px;
  line-height: 60px;
  background-color: #272a2c;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-nav .dropdown.actions {
  display: inline-block;
}

.sidebar-nav .nav-pills.nav-stacked {
  padding-left: 10px;
}

.sidebar-nav .actions .dropdown-menu {
  background: #808080;
}

.sidebar-nav .actions .dropdown-menu .dropdown-item {
  color: white !important;
  /* padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 5px !important; */
}

.sidebar-nav .actions .dropdown-menu .dropdown-item:hover {
  background: rgb(53, 53, 53);
}

.active-camera {
  background: #e0a800;
}

.active-camera a {
  color: white !important;
}

@media(min-width:768px) {
  #wrapper {
    padding-right: 0;
  }

  #wrapper.toggled {
    padding-left: 275px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 275px;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
}

.fas.fa-circle {
  display: inline;
}

.sidebar-nav .actions .dropdown-menu .dropdown-item {
  /* padding-right: 10px; */
}

.sidebar-nav .actions .dropdown-menu .dropdown-item i {
  /* line-height: inherit; */
}
