<div class="d-flex align-items-center">

  <div class="mr-auto">{{ name | capitalize }}</div>

  <div>
    <i *ngIf="ascendingEnabled"
       class="fas fa-sort-up mr-2 align-bottom mb-1"></i>

    <i *ngIf="descendingEnabled"
       class="fas fa-sort-down mr-2"></i>

    <i *ngIf="filterEnabled"
       class="fas fa-filter mr-2"></i>
  </div>

  <div class="dropdown">
    <button class="btn btn-sm btn-outline-light"
            [class]="class"
            type="button"
            id="filterDropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            data-boundary="window"
            aria-expanded="false">
      <i class="fas fa-filter"
         [ngStyle]="{'color' : filterEnabled || descendingEnabled || ascendingEnabled ?  '#ffc107' : '#ffffff'}"></i>
    </button>

    <div class="dropdown-menu mt-2"
         aria-labelledby="filterDropdownMenuButton">
      <a class="dropdown-item"
         [ngClass]="{'active' : ascendingEnabled}"
         (click)="asc()">
        <i class="fas fa-sort-amount-up-alt"></i> Sort ascending
      </a>
      <a class="dropdown-item"
         [ngClass]="{'active' : descendingEnabled}"
         (click)="desc()">
        <i class="fas fa-sort-amount-down"></i> Sort descending
      </a>
      <a *ngIf="ascendingEnabled || descendingEnabled"
         class="dropdown-item"
         (click)="clearSort()">
        <i class="fas fa-eraser"></i> Clear Sorting
      </a>

      <div class="dropdown-divider mb-3"></div>

      <form autocomplete="off"
            novalidate>
        <div class="mb-2 mx-2">
          <select name="condition{{filterNumber}}"
                  class="form-control"
                  id="condition{{filterNumber}}"
                  [(ngModel)]="condition">
            <option [ngValue]="1">Contain</option>
            <option [ngValue]="2">Not contain</option>
            <option [ngValue]="3">Starts with</option>
            <option [ngValue]="4">Ends with</option>
            <option [ngValue]="5">Equal</option>
          </select>
        </div>

        <div class="mb-2 mx-2">
          <input type="text"
                 placeholder="Enter text:"
                 class="form-control"
                 [(ngModel)]="searchText"
                 name="searchValue">
        </div>
      </form>

      <button type="button"
              [disabled]="!searchText"
              class="btn btn-sm btn-primary ml-2"
              (click)="filter()">Filter</button>

      <button type="button"
              class="btn btn-sm btn-secondary ml-2"
              (click)="clearFilter()">Clear filter</button>
    </div>
  </div>

</div>
