.dropdown .btn-outline-light:hover .fa-filter {
  color: black !important;
}

.dropdown-menu>a:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.dropdown-menu>a.active {
  color: white;
}

.dropdown-divider {
  border-color: black;
}

.form-control {
  padding-top: 1px;
  padding-bottom: 2px;
  height: calc(1.75rem);
  font-size: 0.9rem;
}

input {
  font-size: 0.8rem;
}

.fas.fa-filter {
  font-size: 0.75rem;
}
