<div class="container">

  <div class="card shadow">
    <div class="card-header bg-secondary text-light h3">
      Interrogation settings
    </div>
    <div class="card-body">
      
      <app-loader *ngIf="!dataIsReady"></app-loader>

      <form *ngIf="dataIsReady"
            #form="ngForm"
            [noValidate]="true"
            autocomplete="off">

        <div class="form-row">
          <div class="col-md-6">
            <label for="selectedNvr1">Interrogated area:</label>
            <select name="selectedNvr1"
                    id="selectedNvr1"
                    class="custom-select"
                    [ngClass]="{
                    'is-invalid': !selectedNvr1 && (selectedNvr1Model.dirty || selectedNvr1Model.touched), 
                    'is-valid' : selectedNvr1 }"
                    [(ngModel)]="selectedNvr1"
                    (ngModelChange)="nvr1Changed($event)"
                    #selectedNvr1Model="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select area --
              </option>
              <option *ngFor="let nvr of nvrs"
                      [ngValue]="nvr">{{ nvr.nvrName }}</option>
            </select>
            <div *ngIf="!selectedNvr1 && (selectedNvr1Model.dirty || selectedNvr1Model.touched)"
                 class="invalid-feedback">
              Please select area.
            </div>
          </div>

          <div class="col-md-6">
            <label for="selectedCamera1">Interrogated room:</label>
            <div class="input-group mb-3">
              <select class="custom-select"
                      id="selectedCamera1"
                      name="selectedCamera1"
                      [ngClass]="{
                  'is-invalid': !selectedCamera1 && (camera1.dirty || camera1.touched), 
                  'is-valid' : selectedCamera1 }"
                      [(ngModel)]="selectedCamera1"
                      (ngModelChange)="camera1Changed()"
                      [disabled]="!selectedNvr1 || outputLoading"
                      #camera1="ngModel"
                      required>
                <option [ngValue]="null"
                        disabled>-- Select room --
                </option>
                <option *ngFor="let camera of cameras1"
                        [ngValue]="camera">{{camera.cameraName}}</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text"
                       for="selectedCamera">

                  <i *ngIf="!outputLoading"
                     [ngClass]="{'text-success' : outputStatus === true, 
                           'text-danger' : outputStatus === false }"
                     style="font-size: 20px;"
                     class="fas fa-power-off mr-1"></i>

                  <app-loader *ngIf="outputLoading"
                              [class]="'spinner-border-sm'"></app-loader>
                </label>
              </div>
              <div *ngIf="!selectedCamera1 && (camera1.dirty || camera1.touched)"
                   class="invalid-feedback">
                Please select room.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">

          <div class="col-md-6">
            <label for="selectedNvr2">Investigator area:</label>
            <select name="selectedNvr2"
                    id="selectedNvr2"
                    class="custom-select"
                    [ngClass]="{
                    'is-invalid': !selectedNvr2 && (selectedNvr2Model.dirty || selectedNvr2Model.touched), 
                    'is-valid' : selectedNvr2 }"
                    [(ngModel)]="selectedNvr2"
                    (ngModelChange)="nvr2Changed($event)"
                    #selectedNvr2Model="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select area --
              </option>
              <option *ngFor="let nvr of nvrs"
                      [ngValue]="nvr">{{ nvr.nvrName }}</option>
            </select>
            <div *ngIf="!selectedNvr2 && (selectedNvr2Model.dirty || selectedNvr2Model.touched)"
                 class="invalid-feedback">
              Please select area.
            </div>
          </div>

          <div class="col-md-6">
            <label for="selectedCamera2">Investigator room:</label>
            <div class="input-group mb-3">
              <select class="custom-select"
                      id="selectedCamera2"
                      name="selectedCamera2"
                      [ngClass]="{
                  'is-invalid': !selectedCamera2 && (camera2.dirty || camera2.touched), 
                  'is-valid' : selectedCamera2 }"
                      [(ngModel)]="selectedCamera2"
                      (ngModelChange)="camera2Changed()"
                      [disabled]="!selectedNvr2"
                      #camera2="ngModel"
                      required>
                <option [ngValue]="null"
                        disabled>-- Select room --
                </option>
                <option *ngFor="let camera of cameras2"
                        [ngValue]="camera">{{camera.cameraName}}</option>
              </select>
              <div *ngIf="!selectedCamera2 && (camera1.dirty || camera1.touched)"
                   class="invalid-feedback">
                Please select room.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row form-group">
          <div class="col-md-6">
            <label for="interviewNumberEitan">Interview number:</label>
            <input type="number"
                   disabled
                   [ngClass]="{
              'is-invalid': !interrogation.interviewNumberEitan && (interviewNumberEitan.dirty || interviewNumberEitan.touched), 
              'is-valid' : interrogation.interviewNumberEitan }"
                   class="form-control"
                   id="interviewNumberEitan"
                   name="interviewNumberEitan"
                   [(ngModel)]="interrogation.interviewNumberEitan"
                   placeholder="Enter interview number:"
                   #interviewNumberEitan="ngModel"
                   required>
            <div *ngIf="!interrogation.interviewNumberEitan && (interviewNumberEitan.dirty || interviewNumberEitan.touched)"
                 class="invalid-feedback">
              Please enter interview number.
            </div>
          </div>


          <div class="col-md-6">
            <label for="foreignName">Foreign name:</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{
              'is-invalid': !interrogation.foreignName && (foreignName.dirty || foreignName.touched), 
              'is-valid' : interrogation.foreignName }"
                   id="foreignName"
                   name="foreignName"
                   pattern="[a-zA-Z]*"
                   [(ngModel)]="interrogation.foreignName"
                   placeholder="Enter foreign name:"
                   #foreignName="ngModel"
                   required>
            <div *ngIf="!interrogation.foreignName && (foreignName.dirty || foreignName.touched)"
                 class="invalid-feedback">
              Please enter foreign name.
            </div>
          </div>
        </div>

        <div class="form-row form-group">
          <div class="col-md-6">
            <label for="caseNumber">Case number:</label>
            <input type="number"
                   [min]="0"
                   step="1"
                   pattern="\d*"
                   id="caseNumber"
                   name="caseNumber"
                   class="form-control"
                   [ngClass]="{
              'is-invalid': !interrogation.caseNumber && (caseNumber.dirty || caseNumber.touched) || caseNumber?.errors?.min, 
              'is-valid' : interrogation.caseNumber && !caseNumber?.errors?.min}"
                   [(ngModel)]="interrogation.caseNumber"
                   placeholder="Enter case number:"
                   #caseNumber="ngModel"
                   required>
            <div *ngIf="!interrogation.caseNumber && (caseNumber.dirty || caseNumber.touched)"
                 class="invalid-feedback">
              Please enter case number.
            </div>
            <div *ngIf="caseNumber?.errors?.min"
                 class="invalid-feedback">
              Please number larger than 0.
            </div>
          </div>

          <div class="col-md-6">
            <label for="foreignIdNumber">Foreign ID:</label>
            <input type="text"
                   pattern="[a-zA-Z0-9]*"
                   class="form-control"
                   [ngClass]="{
              'is-invalid': !interrogation.foreignIdNumber && (foreignIdNumber.dirty || foreignIdNumber.touched), 
              'is-valid' : interrogation.foreignIdNumber }"
                   id="foreignIdNumber"
                   name="foreignIdNumber"
                   [(ngModel)]="interrogation.foreignIdNumber"
                   placeholder="Enter foreign ID:"
                   #foreignIdNumber="ngModel"
                   required>
            <div *ngIf="!interrogation.caseNumber && (caseNumber.dirty || caseNumber.touched)"
                 class="invalid-feedback">
              Please enter case number.
            </div>
          </div>
        </div>

        <div class="form-row form-group ">
          <div class="col-md-6">
            <label for="nationality">Nationality:</label>
            <select class="form-control"
                    id="nationality"
                    name="nationality"
                    [ngClass]="{
                'is-invalid': !interrogation.nationality && (nationality.dirty || nationality.touched), 
                'is-valid' : interrogation.nationality }"
                    [(ngModel)]="interrogation.nationality"
                    [disabled]="outputLoading"
                    #nationality="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select nationality --
              </option>
              <option *ngFor="let nationality of nationalities"
                      [ngValue]="nationality.nationality">{{nationality.nationality}}</option>
            </select>
            <div *ngIf="!interrogation.nationality && (nationality.dirty || nationality.touched)"
                 class="invalid-feedback">
              Please select nationality.
            </div>
          </div>
        </div>
<!-- 
        <button type="button"
                [disabled]="outputLoading || !outputStatus"
                (click)="turnOffOutput()"
                class="btn btn-warning mr-2">Turn off camera</button>
        <button type="button"
                [disabled]="!form.valid || outputLoading || outputStatus || cannotGetOutputStatus"
                (click)="startInterrogation()"
                class="btn btn-primary">Start interrogation</button> -->

        <button type="button"
                [disabled]="!form.valid"
                (click)="startInterrogation()"
                class="btn btn-primary">Start interrogation</button>
      </form>
    </div>
  </div>
</div>



<app-open-interrogation-modal *ngIf="showOpenInterrogationModal"
                              (onConfirm)="continueInterrogation($event)"
                              (onClose)="closeOpenInterrogationModal()"></app-open-interrogation-modal>
