.my-pagination .ngx-pagination .current,
.my-pagination .ngx-pagination a,
.my-pagination .ngx-pagination .pagination-previous,
.my-pagination .ngx-pagination span {
  cursor: pointer;
  text-decoration: none;
}

.my-pagination .ngx-pagination a {
  padding: 5px 14px;
}

.my-pagination .ngx-pagination a:hover {
  transition-duration: 0.4s;
  background: #1368df;
  color: white;
  border-radius: 4px;
}

.my-pagination .ngx-pagination .current {
  background: #579BFC;
  padding: 5px 14px;
  border-radius: 4px;
}

.my-pagination .ngx-pagination {
  padding-left: 0px;
  padding-right: 0px;
}

.ngx-pagination .pagination-previous a::before {
  margin-right: 0 !important;
}

.ngx-pagination .pagination-next a::after {
  margin-left: 0 !important;
}