
.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table thead th {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.table .custom-checkbox {
  margin-top: -5px;
}

.table-footer .form-inline {
  margin-top: -15px;
}

@media only screen and (min-width: 992px) {
  .table-footer {
    display: flex;
  }
}

@media only screen and (max-width: 992px) {
  .table-footer .form-inline {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-top: 10px;
  }
}
