.container-fluid {
  margin-top: 80px;
}

:host ::ng-deep .p-inputtext {
  height: calc(1.5em + 0.4rem) !important;
}


.dropdown-menu {
  background-color: #ebebeb !important;
}

.dropdown-menu a:hover {
  cursor: pointer;
}

.dropdown-divider {
  border-color: black;
}

.dropdown-item:hover {
  background-color: #343a40 !important;
  color: white;
}


.card-header {
  background-color: #f3994c;;
}