<div class="container-fluid">


  <div class="card shadow">
    <div class="card-header text-light d-flex align-items-center">
      <div class="mr-auto h3">Records</div>

      <div>
        <p-calendar [(ngModel)]="rangeDates"
                    selectionMode="range"
                    [readonlyInput]="true"
                    namae="dates"
                    dateFormat="dd/mm/yy"
                    [inputStyle]="{ 'cursor' : 'pointer'}"
                    inputStyleClass="form-control "
                    inputId="range"></p-calendar>
      </div>

      <div class="ml-3">
        <app-search-table (onStartSearch)="searchStarted()"
                          (onEndSearch)="searchEnded()"
                          (onSearch)="onSearch($event)"></app-search-table>
      </div>

      <div class="ml-3">
        <app-button [class]="'btn btn-sm btn-block btn-dark'"
                    [description]="'search'"
                    [icon]="'fas fa-search'"
                    [disabled]="!rangeDates[0] || !rangeDates[1] || !dataIsReady"
                    (onClick)="onSearchByDatesClicked()"></app-button>
      </div>
    </div>
    <div class="card-body">

      <div class="table-responsive rounded">
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col"
                  class="fit">#</th>
              <th scope="col"
                  class="fit">ID</th>

              <ng-container *ngFor="let column of columns; let i = index">
                <th [ngClass]="{ 'fit': column.fit }"
                    scope="col">
                  <app-filter-table [filterNumber]="i + 1"
                                    [name]="column.name"
                                    [type]="column.type"
                                    [property]="column.property"
                                    (onSort)="sortByColumn($event)"
                                    (onFilter)="filterByColumn($event)"
                                    (onClearSort)="clearSortByColumn()"
                                    (onClearFilter)="clearFilterByColumn()"></app-filter-table>
                </th>
              </ng-container>

              <!-- <th scope="col">Area</th>
              <th scope="col">Room</th>
              <th scope="col">Investigator area</th>
              <th scope="col">Investigator room</th> 
              <th scope="col">Interview number</th>
              <th scope="col">Foreign name</th>
              <th scope="col">Case number</th>
              <th scope="col">Foreign ID</th>
              <th scope="col">Nationality</th> -->
              <!-- <th scope="col">Investigator name</th> -->
              <th scope="col">Start time</th>
              <th scope="col"
                  class="">End time</th>
              <th scope="col"
                  class="fit text-center">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngIf="!dataIsReady">
              <td colspan="100%">
                <app-loader></app-loader>
              </td>
            </tr>

            <ng-container *ngIf="dataIsReady">
              <tr
                  *ngFor="let interrogationRecord of interrogationRecords | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
                <td scope="row"
                    class="fit font-weight-bold">
                  {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
                <td>{{interrogationRecord.interrogationId}}</td>
                <td>{{interrogationRecord.nvrName}}</td>
                <td>{{interrogationRecord.cameraName}}</td>
                <!-- <td>{{interrogationRecord.investigatorNvrName}}</td>
                <td>{{interrogationRecord.investigatorCameraName}}</td> -->
                <td>{{interrogationRecord.interviewNumberEitan}}</td>
                <td>{{interrogationRecord.foreignName}}</td>
                <td>{{interrogationRecord.caseNumber}}</td>
                <td>{{interrogationRecord.foreignIdNumber}}</td>
                <td>{{interrogationRecord.nationality}}</td>
                <td>{{interrogationRecord.userName}}</td>
                <td>{{interrogationRecord.startTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{interrogationRecord.endTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="fit">
                  <div class="btn-group">
                    <button type="button"
                            class="btn btn-sm btn-primary dropdown-toggle"
                            data-toggle="dropdown"
                            data-boundary="window"
                            aria-haspopup="true"
                            aria-expanded="false">
                      Actions
                    </button>
                    <div class="dropdown-menu">
                      <a *ngIf="loggedUser.userGroupType === 'administrator' || 
                                loggedUser.userGroupType === 'team leader' || 
                                loggedUser.userGroupType === 'investigator'"
                         class="dropdown-item"
                         (click)="openDetailsModal(interrogationRecord)">Details</a>
                      <a *ngIf="loggedUser.userGroupType === 'administrator' || 
                                loggedUser.userGroupType === 'team leader' || 
                                loggedUser.userGroupType === 'investigator'"
                         class="dropdown-item"
                         (click)="openPauseContinueTimesModal(interrogationRecord)">Break times</a>
                      <a *ngIf="loggedUser.userGroupType === 'administrator' || 
                                loggedUser.userGroupType === 'team leader' || 
                                loggedUser.userGroupType === 'investigator'"
                         class="dropdown-item"
                         (click)="sendToArchive(interrogationRecord)">Send to archive</a>
                      <a *ngIf="interrogationRecord.uploaded === 3"
                         class="dropdown-item"
                         (click)="sentToBurn(interrogationRecord)">Send to burn</a>

                      <div *ngIf="loggedUser.userGroupType === 'administrator'"
                           class="dropdown-divider"></div>
                      <a *ngIf="loggedUser.userGroupType === 'administrator'"
                         class="dropdown-item"
                         (click)="deleteInterrogation(interrogationRecord)">Delete record</a>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div *ngIf="dataIsReady"
             class="d-flex justify-content-between pr-2">
          <pagination-controls class="my-pagination"
                               [responsive]="true"
                               [directionLinks]="true"
                               (pageChange)="pageChanged($event)"></pagination-controls>


          <app-items-page-amount [total]="total"
                                 [page]="pagination.page"
                                 [itemsPerPage]="pagination.itemsPerPage"
                                 (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>

        </div>
      </div>
    </div>
  </div>


  <!-- <h3>Interrogation records</h3>
  <hr class="my-2">

  <div class="d-sm-flex flex-sm-row-reverse mb-2">

    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">

      <app-search-table (onStartSearch)="searchStarted()"
                        (onEndSearch)="searchEnded()"
                        (onSearch)="onSearch($event)"></app-search-table>
    </div>

    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <p-calendar [(ngModel)]="rangeDates"
                  selectionMode="range"
                  [readonlyInput]="true"
                  namae="dates"
                  dateFormat="dd/mm/yy"
                  [inputStyle]="{ 'cursor' : 'pointer'}"
                  inputStyleClass="form-control "
                  inputId="range"></p-calendar>
    </div>

    <app-button [class]="'btn btn-sm btn-block btn-primary'"
                [description]="'search'"
                [icon]="'fas fa-search'"
                [disabled]="!rangeDates[0] || !rangeDates[1] || !dataIsReady"
                (onClick)="onSearchByDatesClicked()"></app-button>
  </div> -->

  <!-- <div class="table-responsive shadow-lg rounded">
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"
              class="fit">#</th>
          <th scope="col"
              class="fit">ID</th>
          <th scope="col">Interogated area</th>
          <th scope="col">Interogated room</th>
          <th scope="col">Investigator area</th>
          <th scope="col">Investigator room</th>
          <th scope="col">Interview number</th>
          <th scope="col">Foreign name</th>
          <th scope="col">Case number</th>
          <th scope="col">Foreign ID</th>
          <th scope="col">Nationality</th>
          <th scope="col">Investigator name</th>
          <th scope="col">Start time</th>
          <th scope="col"
              class="">End time</th>
          <th scope="col"
              class="fit text-center">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngIf="!dataIsReady">
          <td colspan="100%">
            <app-loader></app-loader>
          </td>
        </tr>

        <ng-container *ngIf="dataIsReady">
          <tr
              *ngFor="let interrogationRecord of interrogationRecords | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
            <td scope="row"
                class="fit font-weight-bold">
              {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
            <td>{{interrogationRecord.interrogationId}}</td>
            <td>{{interrogationRecord.nvrName}}</td>
            <td>{{interrogationRecord.cameraName}}</td>
            <td>{{interrogationRecord.investigatorNvrName}}</td>
            <td>{{interrogationRecord.investigatorCameraName}}</td>
            <td>{{interrogationRecord.interviewNumberEitan}}</td>
            <td>{{interrogationRecord.foreignName}}</td>
            <td>{{interrogationRecord.caseNumber}}</td>
            <td>{{interrogationRecord.foreignIdNumber}}</td>
            <td>{{interrogationRecord.nationality}}</td>
            <td>{{interrogationRecord.userName}}</td>
            <td>{{interrogationRecord.startTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{interrogationRecord.endTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="fit">
              <div class="btn-group">
                <button type="button"
                        class="btn btn-sm btn-primary dropdown-toggle"
                        data-toggle="dropdown"
                        data-boundary="window"
                        aria-haspopup="true"
                        aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu">
                  <a *ngIf="loggedUser.userGroupType === 'administrator' || 
                            loggedUser.userGroupType === 'team leader' || 
                            loggedUser.userGroupType === 'investigator'"
                     class="dropdown-item"
                     (click)="openDetailsModal(interrogationRecord)">Details</a>
                  <a *ngIf="loggedUser.userGroupType === 'administrator' || 
                            loggedUser.userGroupType === 'team leader' || 
                            loggedUser.userGroupType === 'investigator'"
                     class="dropdown-item"
                     (click)="openPauseContinueTimesModal(interrogationRecord)">Break times</a>
                  <a *ngIf="loggedUser.userGroupType === 'administrator' || 
                            loggedUser.userGroupType === 'team leader' || 
                            loggedUser.userGroupType === 'investigator'"
                     class="dropdown-item"
                     (click)="sendToArchive(interrogationRecord)">Send to archive</a>
                  <a *ngIf="interrogationRecord.uploaded === 3"
                     class="dropdown-item"
                     (click)="sentToBurn(interrogationRecord)">Send to burn</a>

                  <div *ngIf="loggedUser.userGroupType === 'administrator'"
                       class="dropdown-divider"></div>
                  <a *ngIf="loggedUser.userGroupType === 'administrator'"
                     class="dropdown-item"
                     (click)="deleteInterrogation(interrogationRecord)">Delete record</a>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="dataIsReady"
         class="d-flex justify-content-between pr-2">
      <pagination-controls class="my-pagination"
                           [responsive]="true"
                           [directionLinks]="true"
                           (pageChange)="pageChanged($event)"></pagination-controls>


      <app-items-page-amount [total]="total"
                             [page]="pagination.page"
                             [itemsPerPage]="pagination.itemsPerPage"
                             (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>

    </div>
  </div> -->
</div>


<app-interrogation-record-details-modal *ngIf="showDetailsModal"
                                        (onClose)="closeDetailsModal()"
                                        [interrogationRecord]="selectedInterrogationRecord">
</app-interrogation-record-details-modal>

<app-pause-continue-times-modal *ngIf="showPauseContinueTimesModal"
                                (onClose)="closePauseContinueTimesModal()"
                                [interrogationRecord]="selectedInterrogationRecord">
</app-pause-continue-times-modal>

<app-open-interrogations-modal *ngIf="showOpenInterrogationsModal"
                               (onClose)="closeOpenInterogationsModal()"></app-open-interrogations-modal>

<app-send-to-archive-modal *ngIf="showSendToArchiveModal"
                           [interrogationRecord]="selectedInterrogationRecord"
                           (onConfirm)="onSendToArchive($event)"
                           (onClose)="closeSendToArchiveModal()"></app-send-to-archive-modal>

<app-send-to-burn-modal *ngIf="showSendToBurnModal"
                        [interrogationRecord]="selectedInterrogationRecord"
                        (onConfirm)="onSendToBurn($event)"
                        (onClose)="closeSendToBurnModal()"></app-send-to-burn-modal>
