<div *ngIf="!displayChat"
     class="content">
  <div class="card">
    <div class="card-header">
      Chat
      <i class="fas fa-chevron-circle-up float-right"
         style="padding-top:2px"
         (click)="showChat()"></i>
    </div>
  </div>
</div>

<div *ngIf="displayChat"
     class="content">
  <div class="card">
    <div class="card-header">
     Chat
      <i class="fas fa-chevron-circle-down float-right"
         style="padding-top:2px"
         (click)="hideChat()"></i>
    </div>
    <div class="card-body height3 pb-0">
      <ul class="chat-list">
        <ng-container *ngFor="let message of messages; let i = index">
          <li [class]="message.class">
            <div class="chat-img">
              <img alt="Avtar"
                   [src]="message.imgSrc">
            </div>
            <div class="chat-body">
              <div class="chat-message">
                <h5>{{message.userName}}</h5>
                <p>{{message.text}}</p>
              </div>
              <small class="form-text text-muted">{{message.date | niceDateFormat: trigger}}</small>
            </div>
            <span *ngIf="message.error"
                  class="text-danger"> <i class="fas fa-exclamation-triangle pt-3"></i></span>
          </li>
        </ng-container>
      </ul>
    </div>

    <form autocomplete="off">
      <div class="input-group px-3 pb-4">
        <input type="text"
               name="message"
               [(ngModel)]="message"
               (keyup.enter)="sendMessage()"
               class="form-control"
               placeholder="Type message:"
               aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary"
                  type="button"
                  [disabled]="!message"
                  (keyup.enter)="sendMessage()"
                  (click)="sendMessage()"
                  id="button-addon2">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
