<div class="modal fade"
     id="detailsModal"
     data-backdrop="static"
     data-keyboard="false"
     tabindex="-1"
     aria-labelledby="detailsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="detailsModalLabel">Interrogation information</h5>
        <button type="button"
                class="close"
                (click)="onCloseClicked()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="cannotReadFiles"
             class="alert alert-warning">There is no folder for the selected interrogation</div>
        <app-loader *ngIf="!dataIsReady"></app-loader>

        <div *ngIf="dataIsReady"
             class="row">

          <div class="col-lg-3 mb-3">
            <div class="card">
              <div class="card-header">Text</div>
              <div class="card-body"
                   [innerHTML]="editorText | sanitizeHtml">

              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-3">

            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"
                      id="basic-addon2"> File</span>
              </div>
              <select class="custom-select"
                      id="selectedFile"
                      [(ngModel)]="selectedFile"
                      (ngModelChange)="selectedFileChanged()"
                      aria-label="selectedFile">
                <option style="direction: ltr;"
                        *ngFor="let fileName of filesNames"
                        [ngValue]="fileName">{{fileName}}</option>
              </select>

            </div>


            <video id="videoPlayer"
                   class="video-fluid"
                   [src]="streamUrl"
                   controls>
              <source type="video/mov">
              <source type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <div class="col-lg-3 mb-3">
            <div class="card">
              <div class="card-header">Chat history</div>
              <div class="card-body">
                <ul class="chat-list">
                  <ng-container *ngFor="let message of messages; let i = index">
                    <li [class]="message.class">
                      <div class="chat-img">
                        <img alt="Avtar"
                             [src]="message.imgSrc">
                      </div>
                      <div class="chat-body">
                        <div class="chat-message">
                          <h5>{{message.userName}}</h5>
                          <p>{{message.text}}</p>
                        </div>
                        <small class="form-text text-muted ">{{message.date | date: 'HH:mm:ss dd/MM/yyyy'}}
                        </small>
                      </div>
                      <span *ngIf="message.error"
                            class="text-danger"> <i class="fas fa-exclamation-triangle pt-3"></i></span>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="modal-footer">

        <a class="btn btn-primary"
           download="Report"
           target="_blank"
           href="../../../../../assets/report.pdf">
          Report
        </a>

        <app-button [class]="'btn btn-secondary'"
                    [description]="'close'"
                    (onClick)="onCloseClicked()"></app-button>

      </div>
    </div>
  </div>
</div>
