<div class="modal fade"
     id="addUpdateModal"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> {{ action | capitalize}} camera
        </h4>
        <button type="button"
                class="close"
                (click)="onCloseClicked()">&times;</button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="ml-3 my-3"></app-loader>

      <form *ngIf="dataIsReady"
            (ngSubmit)="onSubmit()"
            #form="ngForm"
            autocomplete="off"
            novalidate>
        <div class="modal-body">

          <div class="form-group">
            <label for="cameraName">Camera name:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !camera.cameraName && (cameraName.dirty || cameraName.touched), 
                          'is-valid' : camera.cameraName}"
                   [(ngModel)]="camera.cameraName"
                   class="form-control"
                   name="cameraName"
                   id="cameraName"
                   placeholder="Enter camera name:"
                   #cameraName="ngModel"
                   required>
            <div *ngIf="!camera.cameraName && (cameraName.dirty || cameraName.touched)"
                 class="invalid-feedback">
              Please enter camera name.
            </div>
          </div>

          <div class="form-group">
            <label for="nvr">NVR:</label>
            <select name="nvr"
                    id="nvr"
                    class="custom-select"
                    [ngClass]="{
                          'is-invalid': !selectedNvr  && (nvr.dirty || nvr.touched), 
                          'is-valid' : selectedNvr }"
                    [(ngModel)]="selectedNvr"
                    (ngModelChange)="nvrChanged()"
                    #nvr="ngModel">
              <option [ngValue]="null"
                      disabled>-- Select NVR--
              </option>
              <option *ngFor="let nvr of nvrs"
                      [ngValue]="nvr">{{ nvr.nvrName | capitalize }}</option>
            </select>
            <div *ngIf="!selectedNvr && (nvr.dirty || nvr.touched)"
                 class="invalid-feedback">
              Please select NVR.
            </div>
          </div>

          <div class="form-group">
            <label for="channel">Channel:</label>
            <select name="channel"
                    id="channel"
                    class="custom-select"
                    [ngClass]="{
                          'is-invalid': !camera.channel && selectedNvr, 
                          'is-valid' : camera.channel && selectedNvr }"
                    [(ngModel)]="camera.channel"
                    [disabled]="!selectedNvr"
                    #channel="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select channel--
              </option>
              <option *ngFor="let channel of channels"
                      [ngValue]="channel">{{ channel }}</option>
            </select>
            <div *ngIf="!camera.channel && selectedNvr"
                 class="invalid-feedback">
              Please select channel.
            </div>
          </div>

          <div class="form-group">
            <label for="cameraIp">Camera IP:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !camera.cameraIp && (cameraIp.dirty || cameraIp.touched) || cameraIpError, 
                          'is-valid' : camera.cameraIp && !cameraIpError}"
                   [(ngModel)]="camera.cameraIp"
                   (ngModelChange)="cameraIpChanged($event)"
                   class="form-control"
                   name="cameraIp"
                   id="cameraIp"
                   placeholder="Enter camera IP:"
                   #cameraIp="ngModel"
                   required>
            <div *ngIf="!camera.cameraIp && (cameraIp.dirty || cameraIp.touched)"
                 class="invalid-feedback">
              Please enter camera IP.
            </div>
          </div>

          <div class="form-group">
            <label for="controllerIp">Convtroller IP:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !camera.controllerIp && (controllerIp.dirty || controllerIp.touched) || controllerIpError, 
                          'is-valid' : camera.controllerIp && !controllerIpError}"
                   [(ngModel)]="camera.controllerIp"
                   (ngModelChange)="controllerIpChanged($event)"
                   class="form-control"
                   name="controllerIp"
                   id="controllerIp"
                   placeholder="Enter controller IP:"
                   #controllerIp="ngModel"
                   required>
            <div *ngIf="!camera.controllerIp && (controllerIp.dirty || controllerIp.touched)"
                 class="invalid-feedback">
              Please enter controller IP.
            </div>
          </div>

          <div class="form-group">
            <label for="indexArray">Index:</label>
            <input type="number"
                   [ngClass]="{
                          'is-invalid': !camera.indexArray && (indexArray.dirty || indexArray.touched), 
                          'is-valid' : camera.indexArray}"
                   [(ngModel)]="camera.indexArray"
                   class="form-control"
                   name="indexArray"
                   id="indexArray"
                   placeholder="Enter index:"
                   #indexArray="ngModel"
                   required>
            <div *ngIf="!camera.indexArray && (indexArray.dirty || indexArray.touched)"
                 class="invalid-feedback">
              Please enter index.
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-secondary'"
                      [description]="'close'"
                      (onClick)="onCloseClicked()"></app-button>

          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-primary'"
                      [type]="'submit'"
                      [disabled]="!form.valid || controllerIpError || cameraIpError"
                      [description]="'save changes'"></app-button>

          <app-loading-button *ngIf="isLoading"></app-loading-button>

        </div>
      </form>
    </div>
  </div>
</div>
