<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          Error not found</h2>
        <div class="error-details">
          Maybe you got lost?
        </div>
        <div class="error-actions">
          <button routerLink=""
                  class="btn btn-primary btn-lg">Home</button>
          <button (click)="goBack()"
                  class="btn btn-secondary btn-lg">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
