<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h2>Unauthorized, you are not allowed to be here.</h2>
        <div class="error-details">
          Sorry, error occured.
        </div>
        <div class="error-actions">
          <button routerLink=""
                  class="btn btn-primary btn-lg">Home</button>
          <button (click)="goBack()"
                  class="btn btn-secondary btn-lg">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
