.container {
  margin-top: 150px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .container {
    margin-top: 60px;
  }
}