<div class="modal fade"
     id="addUpdateModal"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> {{ action | capitalize}} user group
        </h4>
        <button type="button"
                class="close"
                (click)="onCloseClicked()">&times;</button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="ml-3 my-3"></app-loader>

      <form *ngIf="dataIsReady"
            (ngSubmit)="onSubmit()"
            #form="ngForm"
            autocomplete="off"
            novalidate>
        <div class="modal-body">

          <div class="form-group">
            <label for="userGroupName">Group name:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !userGroup.userGroupName && (userGroupName.dirty || userGroupName.touched), 
                          'is-valid' : userGroup.userGroupName}"
                   [(ngModel)]="userGroup.userGroupName"
                   class="form-control"
                   name="userGroupName"
                   id="userGroupName"
                   placeholder="User group name:"
                   #userGroupName="ngModel"
                   required>
            <div *ngIf="!userGroup.userGroupName && (userGroupName.dirty || userGroupName.touched)"
                 class="invalid-feedback">
              Please enter group name.
            </div>
          </div>

          <div class="form-group">
            <label for="userGroupType">Group type:</label>
            <select name="userGroupType"
                    id="userGroupType"
                    class="custom-select"
                    [ngClass]="{
                          'is-invalid': !userGroup.userGroupType  && (userGroupType.dirty || userGroupType.touched), 
                          'is-valid' : userGroup.userGroupType }"
                    [(ngModel)]="userGroup.userGroupType"
                    #userGroupType="ngModel"
                    required>
              <option [ngValue]="null"
                      disabled>-- Select group type --
              </option>
              <option *ngFor="let userGroupType of userGroupTypes"
                      [ngValue]="userGroupType">{{userGroupType | capitalize}}</option>
            </select>
            <div *ngIf="!userGroup.userGroupType && (userGroupType.dirty || userGroupType.touched)"
                 class="invalid-feedback">
              Please select group type.
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-secondary'"
                      [description]="'close'"
                      (onClick)="onCloseClicked()"></app-button>

          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-primary'"
                      [type]="'submit'"
                      [disabled]="!form.valid"
                      [description]="'save changes'"></app-button>

          <app-loading-button *ngIf="isLoading"></app-loading-button>

        </div>
      </form>
    </div>
  </div>
</div>
