.custom-control.custom-checkbox{
  z-index: 0;
}

.custom-control-label:hover {
  cursor: pointer;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}
