<div class="custom-control custom-checkbox">
  <input type="checkbox"
         [(ngModel)]="checked"
         (ngModelChange)="onChecked()"
         class="custom-control-input"
         name="{{name}}"
         id="{{name}}"
         [disabled]="disabled">
  <label class="custom-control-label"
         for="{{name}}"> {{ label }}</label>
</div>
