<app-top-navbar></app-top-navbar>
<router-outlet></router-outlet>
<p-toast></p-toast>  


<!-- <app-perview-camera [fullWidth]="true"
                    [height]="68.5"
                    [amountOfScreens]="1"
                    (onWindowChanged)="onWindowChanged($event)"></app-perview-camera>  -->
