<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <label class="input-group-text"
           for="itemsPerPage">
      <b> {{ (page - 1) * itemsPerPage + 1 }} - {{ page * itemsPerPage }} of {{ total }}</b>
    </label>
  </div>
  <select class="form-control custom-select"
          id="itemsPerPage"
          name="itemsPerPage"
          (change)="itemsPerPageChanged()"
          [(ngModel)]="itemsPerPage">
    <option *ngFor="let ippo of itemsPerPageOptions"
            [value]="ippo"> {{ippo}} </option> 
  </select>
</div>
