<div class="container-fluid">

  <h3>Users</h3>
  <hr class="my-2">

  <div class="d-sm-flex flex-sm-row-reverse mb-2">
    <div *ngIf="loggedUser.userGroupType === 'administrator'"
         class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <app-button [class]="'btn btn-sm btn-block btn-warning'"
                  [description]="'delete'"
                  [disabled]="!checkedUsers.length"
                  (onClick)="deleteMultipe()"></app-button>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator'"
         class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <app-button [class]="'btn btn-sm btn-block btn-primary'"
                  [description]="'add'"
                  (onClick)="addUser()"></app-button>
    </div>

    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <app-search-table (onStartSearch)="searchStarted()"
                        (onEndSearch)="searchEnded()"
                        (onSearch)="onSearch($event)"></app-search-table>
    </div>

    <app-loader  *ngIf="!userGroupsIsReady && loggedUser.userGroupType === 'administrator'"></app-loader>
    
    <div *ngIf="userGroupsIsReady && loggedUser.userGroupType === 'administrator'">
      <app-input-group-select [options]="userGroups"
                              [label]="'user group'"
                              [description]="'userGroupName'"
                              [selected]="selectedUserGroup"
                              [styleClass]="'input-group-sm'"
                              (onChange)="userGroupChanged($event)"></app-input-group-select>
    </div>
  </div>

  <div class="table-responsive shadow-lg rounded">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"
              class="fit">#</th>
          <th *ngIf="loggedUser.userGroupType === 'administrator'"
              scope="col"
              class="fit">
            <app-checkbox [checked]="checkedAll"
                          [name]="'checkedAll'"
                          (onChecked)="onCheckedAll($event)"></app-checkbox>
          </th>

          <ng-container *ngFor="let column of columns; let i = index">
            <th [ngClass]="{ 'fit': column.fit }"
                scope="col">
              <app-filter-table [filterNumber]="i + 1"
                                [name]="column.name"
                                [type]="column.type"
                                [property]="column.property"
                                (onSort)="sortByColumn($event)"
                                (onFilter)="filterByColumn($event)"
                                (onClearSort)="clearSortByColumn()"
                                (onClearFilter)="clearFilterByColumn()"></app-filter-table>
            </th>
          </ng-container>
          <th *ngIf="selectedUserGroup?.userGroupType === 'investigator'">Team leader</th>
          <th *ngIf="loggedUser.userGroupType === 'administrator'"
              scope="col"
              class="fit text-center">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngIf="!dataIsReady">
          <td colspan="100%">
            <app-loader></app-loader>
          </td>
        </tr>

        <ng-container *ngIf="dataIsReady">
          <tr
              *ngFor="let user of users | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
            <td scope="row"
                class="fit font-weight-bold">
              {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
            <td *ngIf="loggedUser.userGroupType === 'administrator'"
                class="fit text-center">
              <app-checkbox [checked]="user.checked"
                            [name]="'markCheckbox' + i"
                            (onChecked)="onChecked(user, $event)"></app-checkbox>

            </td>
            <td>{{user.userName}}</td>
            <td *ngIf="selectedUserGroup?.userGroupType === 'investigator'">{{user.teamLeaderName}}</td>
            <td *ngIf="loggedUser.userGroupType === 'administrator'"
                class="fit">
              <app-button [class]="'btn btn-sm btn-secondary mr-2'"
                          [icon]="'fas fa-edit'"
                          [tooltipTitle]="'edit'"
                          (onClick)="updateUser(user)"></app-button>

              <app-button [class]="'btn btn-sm btn-warning'"
                          [icon]="'fas fa-trash-alt'"
                          [tooltipTitle]="'delete'"
                          (onClick)="deleteUser(user)"></app-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="dataIsReady"
         class="d-flex justify-content-between pr-2">
      <pagination-controls class="my-pagination"
                           [responsive]="true"
                           [directionLinks]="true"
                           (pageChange)="pageChanged($event)"></pagination-controls>


      <app-items-page-amount [total]="total"
                             [page]="pagination.page"
                             [itemsPerPage]="pagination.itemsPerPage"
                             (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>

    </div>
  </div>
</div>

<app-user-form *ngIf="showUserForm"
               [userId]="userId"
               [userGroups]="userGroups"
               (onAdd)="onAddOrUpdateUser($event)"
               (onUpdate)="onAddOrUpdateUser($event)"
               (onClose)="resetUserForm()"></app-user-form>

<app-delete-form-modal *ngIf="showDeleteForm"
                       [type]="'users'"
                       [description]="'userName'"
                       [key]="'userId'"
                       [items]="itemsToDelete"
                       (onClose)="resetDeleteForm()"
                       (onDelete)="onDeleteForm($event)"></app-delete-form-modal>
