<button #button
        [type]="type"
        [class]="class"
        [disabled]="disabled"
        data-toggle="tooltip"
        [attr.data-title]="tooltipTitle | capitalize"
        [attr.data-placement]="tooltipPosition"
        (click)="onClick($event)">
  <i [class]="icon"
     style="pointer-events:none"></i>
  {{ description | capitalize }}
</button>
