<button type="button"
        [class]="class"
        class="btn btn-primary"
        disabled>
  <span class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"></span>
  Loading...
</button>
