<div class="input-group"
     [class]="styleClass">
  <div class="input-group-prepend">
    <label class="input-group-text"
           for="'inputGroupSelect01'{{description}}" >{{label | capitalize }}:</label>
  </div>
  <select class="custom-select"
          id="'inputGroupSelect01'{{description}}"
          name="'inputGroupSelect01'{{description}}" 
          [class]="inputStyleClass"
          [(ngModel)]="selected"
          (ngModelChange)="onChange()"
          [required]="required">
    <option *ngFor="let option of options;let  i = index"
            [ngValue]="option">
      <span *ngIf="description">{{option[description]}}</span>
      <span *ngIf="!description">{{option | capitalize }}</span>
    </option>
  </select>
</div>
