<div class="modal fade"
     id="exampleModal"
     role="dialog"
     data-backdrop="static"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel">Watch and chat</h5>
        <button type="button"
                class="close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div *ngIf="!this.disconnected"
               class="row">
            <div class="col-lg-5 col-sm-12 col-12">
              <div class="content">
                <div class="card">
                  <div class="card-header">Chat</div>
                  <div class="card-body height3">
                    <ul class="chat-list">
                      <ng-container *ngFor="let message of messages; let i = index">
                        <li [class]="message.class">
                          <div class="chat-img">
                            <img alt="Avtar"
                                 [src]="message.imgSrc">
                          </div>
                          <div class="chat-body">
                            <div class="chat-message">
                              <h5>{{message.userName}}</h5>
                              <p>{{message.text}}</p>
                            </div>
                            <small class="form-text text-muted"> {{ message.date | niceDateFormat: trigger}} </small>
                          </div>
                          <span *ngIf="message.error"
                                class="text-danger"> <i class="fas fa-exclamation-triangle pt-3"></i></span>
                        </li>
                      </ng-container>
                    </ul>
                  </div>

                  <form autocomplete="off">
                    <div class="input-group px-3 pb-4">
                      <input type="text"
                             name="message"
                             [(ngModel)]="message"
                             (keyup.enter)="sendMessage()"
                             class="form-control"
                             placeholder="Enter message:"
                             aria-label="Recipient's username"
                             aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary"
                                type="button"
                                [disabled]="!message"
                                (click)="sendMessage()"
                                id="button-addon2">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div [hidden]="!showCamera"
                 class="col-lg-7 col-sm-12 col-12">
              <app-perview-camera [fullWidth]="true"
                                  [amountOfScreens]="1"
                                  [height]="48"></app-perview-camera>

              <div class="mt-2">
                <button type="button"
                        class="btn btn-primary"
                        (click)="openSound()">Play audio <i class="fas fa-volume-up"></i></button>

                <button type="button"
                        class="btn btn-secondary ml-2"
                        (click)="closeSound()">Close audio <i class="fas fa-volume-mute"></i></button>
              </div>
            </div>
          </div>

          <div *ngIf="this.disconnected"
               class="alert alert-danger mt-3"
               role="alert">
            <i class="fas fa-exclamation-triangle mr-2"></i>
            Interrogation stopped, please try to connect
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
