<div class="input-group">
  <input class="form-control form-control-sm border-right-0 border"
         type="search"
         placeholder="Search:"
         (keyup)="searchValueChanged($event)"
         [(ngModel)]="searchValue"
         name="searchValueHeader">
  <span class="input-group-append">
    <div class="input-group-text"><i class="fa fa-search"></i></div>
  </span>
</div>
