<div class="modal fade"
     id="sendToBurnModal"
     data-backdrop="static"
     aria-labelledby="sendToBurnModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="sendToBurnModalLabel">Confirm</h5>
        <button type="button"
                class="close"
                (click)="onCloseClicked()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to send this record to burn?</h5>
      </div>
      <div class="modal-footer">
        <app-button *ngIf="!isLoading"
                    [class]="'btn btn-secondary'"
                    [description]="'close'"
                    (onClick)="onCloseClicked()"></app-button>

        <app-button *ngIf="!isLoading"
                    [class]="'btn btn-primary'"
                    (onClick)="sendToBurn()"
                    [description]="'save changes'"></app-button>

        <app-loading-button *ngIf="isLoading"></app-loading-button>
      </div>

    </div>
  </div>
</div>
