<div class="modal fade"
     id="addUpdateModal"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"> {{ action | capitalize}} NVR
        </h4>
        <button type="button"
                class="close"
                (click)="onCloseClicked()">&times;</button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="ml-3 my-3"></app-loader>

      <form *ngIf="dataIsReady"
            (ngSubmit)="onSubmit()"
            #form="ngForm"
            autocomplete="off"
            novalidate>
        <div class="modal-body">

          <div class="form-group">
            <label for="nvrName">Nvr name:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !nvr.nvrName && (nvrName.dirty || nvrName.touched), 
                          'is-valid' : nvr.nvrName}"
                   [(ngModel)]="nvr.nvrName"
                   class="form-control"
                   name="nvrName"
                   id="nvrName"
                   placeholder="NVR name:"
                   #nvrName="ngModel"
                   required>
            <div *ngIf="!nvr.nvrName && (nvrName.dirty || nvrName.touched)"
                 class="invalid-feedback">
              Please enter NVR name.
            </div>
          </div>


          <div class="form-group">
            <label for="userName">User name:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !nvr.userName && (userName.dirty || userName.touched), 
                          'is-valid' : nvr.userName}"
                   [(ngModel)]="nvr.userName"
                   class="form-control"
                   name="userName"
                   id="userName"
                   placeholder="User name:"
                   #userName="ngModel"
                   required>
            <div *ngIf="!nvr.userName && (userName.dirty || userName.touched)"
                 class="invalid-feedback">
              Please enter user name.
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <div class="input-group mb-3">
              <input [type]="showPassword ? 'text' : 'password'"
                     class="form-control"
                     [ngClass]="{
                      'is-invalid': !nvr.password && (password.dirty || password.touched), 
                      'is-valid' : nvr.password}"
                     [(ngModel)]="nvr.password"
                     name="password"
                     id="password"
                     placeholder="Password:"
                     aria-label="password"
                     aria-describedby="button-addon2"
                     #password="ngModel"
                     required>
              <div class="input-group-append">
                <button class="btn btn-secondary"
                        type="button"
                        (click)="showPassword = !showPassword"
                        id="button-addon2">
                  <i *ngIf="!showPassword"
                     class="far fa-eye-slash"></i>
                  <i *ngIf="showPassword"
                     class="far fa-eye"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="ip">IP Address:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !nvr.ip && (ip.dirty || ip.touched) || ipError, 
                          'is-valid' : nvr.ip && !ipError}"
                   [(ngModel)]="nvr.ip"
                   (ngModelChange)="ipChanged($event)"
                   class="form-control"
                   name="ip"
                   id="ip"
                   placeholder="IP address:"
                   #ip="ngModel"
                   required>
            <div *ngIf="!nvr.ip && (ip.dirty || ip.touched)"
                 class="invalid-feedback">
              Please enter IP.
            </div>
          </div>

          <div class="form-group">
            <label for="port">Port:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !nvr.port && (port.dirty || port.touched), 
                          'is-valid' : nvr.port}"
                   [(ngModel)]="nvr.port"
                   class="form-control"
                   name="port"
                   id="port"
                   placeholder="Port:"
                   #port="ngModel"
                   required>
            <div *ngIf="!nvr.port && (port.dirty || port.touched)"
                 class="invalid-feedback">
              Please enter port.
            </div>
          </div>

          <div class="form-group">
            <label for="sdkPort">SDK Port:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !nvr.sdkPort && (sdkPort.dirty || sdkPort.touched), 
                          'is-valid' : nvr.sdkPort}"
                   [(ngModel)]="nvr.sdkPort"
                   class="form-control"
                   name="sdkPort"
                   id="sdkPort"
                   placeholder="SDK Port:"
                   #sdkPort="ngModel"
                   required>
            <div *ngIf="!nvr.sdkPort && (sdkPort.dirty || sdkPort.touched)"
                 class="invalid-feedback">
              Please enter SDK Port.
            </div>
          </div>

          <div class="form-group">
            <label for="rtspPort">RTSP Port:</label>
            <input type="text"
                   [ngClass]="{
                          'is-invalid': !nvr.rtspPort && (rtspPort.dirty || rtspPort.touched), 
                          'is-valid' : nvr.rtspPort}"
                   [(ngModel)]="nvr.rtspPort"
                   class="form-control"
                   name="rtspPort"
                   id="rtspPort"
                   placeholder="RTSP port:"
                   #rtspPort="ngModel"
                   required>
            <div *ngIf="!nvr.rtspPort && (rtspPort.dirty || rtspPort.touched)"
                 class="invalid-feedback">
              Please enter RTSP Port.
            </div>
          </div>

          <div class="form-group">
            <label for="channels">Channels:</label>
            <select name="channels"
                    id="channels"
                    class="custom-select"
                    [(ngModel)]="nvr.channels"
                    #channels="ngModel"
                    required>
              <option *ngFor="let channel of [1, 2, 4, 16, 32, 64, 128, 256]"
                      [ngValue]="channel">{{channel}}</option>
            </select>
            <div *ngIf="!nvr.channels"
                 class="invalid-feedback">
              Please select amount of channels.
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-secondary'"
                      [description]="'close'"
                      (onClick)="onCloseClicked()"></app-button>

          <app-button *ngIf="!isLoading"
                      [class]="'btn btn-primary'"
                      [type]="'submit'"
                      [disabled]="!form.valid || ipError"
                      [description]="'save changes'"></app-button>

          <app-loading-button *ngIf="isLoading"></app-loading-button>

        </div>
      </form>
    </div>
  </div>
</div>
