<div class="container-fluid">

  <div *ngIf="waitingForCameraToStart"
       class="alert alert-warning mt-4 d-flex align-items-center"
       role="alert">
    <app-loader class="mr-2"></app-loader>
    <b>Please wait, this action can take few minutes.</b>
  </div>

  <div class="d-flex">
    <div class="d-lg-none d-xl-none flex-grow-1 pb-2">
      <button *ngIf="!interrogationPaused"
              type="button"
              (click)="openPauseInterrogationModal()"
              class="btn btn-secondary">Pause</button>

      <button *ngIf="!interrogationPaused"
              type="button"
              (click)="openEndIterrogationModal()"
              class="btn btn-primary ml-2">End and save</button>

      <button *ngIf="interrogationPaused && !continueInterrogationIsLoading"
              type="button"
              (click)="openContinueInterrogationModal()"
              class="btn btn-primary">Continue</button>
    </div>

    <div style="font-size: 20px;">
      {{display}}
    </div>

  </div>

  <div class="row">
    <div [ngClass]="{ 'd-none d-lg-block d-xl-block' : !interrogationPaused }"
         class="col-lg-6 mb-3">
      <div style="text-align: left !important;"
           class="">
        <p-editor [(ngModel)]="interrogation.editorText"
                  name="editor"
                  [style]="{'height':'64vh'}"></p-editor>
      </div>

      <button type="button"
              [disabled]="!interrogationStarted || interrogationPaused"
              (click)="openEndIterrogationModal()"
              class="btn btn-primary float-right mt-2">End and Save </button>

      <button type="button"
              [disabled]="!interrogationStarted || interrogationPaused"
              (click)="openPauseInterrogationModal()"
              class="btn btn-secondary float-right mt-2 mr-2">Pause</button>

      <button *ngIf="interrogationPaused && !continueInterrogationIsLoading"
              type="button"
              (click)="openContinueInterrogationModal()"
              class="btn btn-warning float-right mt-2 mr-2">Continue</button>
    </div>

    <div class="col-lg-6">
      <app-perview-camera [fullWidth]="true"
                          [height]="68.5"
                          [amountOfScreens]="selectedAmountOfScreens"
                          (onWindowChanged)="onWindowChanged($event)"></app-perview-camera>
    </div>
  </div>

  <div *ngIf="outputError"
       class="alert alert-warning"
       role="alert">
    <i class="fas fa-exclamation-triangle pr-2"></i> Cannot turn on the sign
  </div>
</div>

<app-chat *ngIf="interrogationStarted && !interrogationPaused"
          [interrogation]="interrogation"
          [nvr]="nvr"
          [camera]="camera"></app-chat>

<app-end-interrogation-modal *ngIf="showEndInterrogationModal"
                             [interrogation]="interrogation"
                             (onEnd)="onEndInterrogation($event)"
                             (onClose)="closeEndInterrogationModal()"></app-end-interrogation-modal>

<app-pause-interrogation-modal *ngIf="showPauseInterrogationModal"
                               [interrogation]="interrogation"
                               (onPause)="pauseInterrogation($event)"
                               (onClose)="closePauseInterrogationModal()"></app-pause-interrogation-modal>

<app-continue-interrogation-modal *ngIf="showContinueInterrogationModal"
                                  [interrogation]="interrogation"
                                  (onContinue)="continueInterrogation($event)"
                                  (onClose)="closeContinueInterrogationModal()">
</app-continue-interrogation-modal>
