<div class="container">
  <div class="row">
    <div *ngIf="loggedUser.userGroupType === 'administrator'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/groups-people-14965088.jpg"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">User groups</h5>
          <p class="card-text">In this section you can add / update / delete user groups.</p>
          <a routerLink="/user-groups"
             class="btn btn-primary mt-auto">User groups</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator' || loggedUser.userGroupType === 'team leader'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/users.png"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Users</h5>
          <p class="card-text">In this section you can add / update / delete users.</p>
          <a routerLink="/users"
             class="btn btn-primary mt-auto">Users</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/grabador-nvr-tienda24hs.jpg"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">NVR</h5>
          <p class="card-text">In this section you can add / update / delete NVRS.</p>
          <a routerLink="/nvrs"
             class="btn btn-primary mt-auto">NVR</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/camera-lens-on-black-surface-1707728.jpg"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Cameras</h5>
          <p class="card-text">In this section you can add / update / delete cameras.</p>
          <a routerLink="/cameras"
             class="btn btn-primary mt-auto">Cameras</a>
        </div>
      </div>
    </div>
    
    <div *ngIf="loggedUser.userGroupType === 'administrator' || loggedUser.userGroupType === 'team leader' || loggedUser.userGroupType === 'manager'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/federal-investigation-2.jpg"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Interrogations</h5>
          <p class="card-text">In this section you can start new / continue interrogation.</p>
          <a routerLink="/interrogations"
             class="btn btn-primary mt-auto">Interrogations</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator' || loggedUser.userGroupType === 'team leader'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/muilti-screens.jpg"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">User interface</h5>
          <p class="card-text">You can watch several live broadcasts of interrogations.</p>
          <a routerLink="/user-interface"
             class="btn btn-primary mt-auto">User interface</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator' || loggedUser.userGroupType === 'team leader'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/interrogation-room.jpg"
             height="200"
             class="card-img-top"
             alt="Card image">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Active interrogations</h5>
          <p class="card-text">In this section you can watch active interrogations.</p>
          <a routerLink="/active-interrogations"
             class="btn btn-primary mt-auto">Active interrogations</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType !== 'no permission'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img class="card-img-top"
             src="../../../assets/images/record.jpg"
             alt="Card image"
             height="200">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Records</h5>
          <p class="card-text">In this section you can watch history records.</p>
          <a routerLink="/interrogation-records"
             class="btn btn-primary mt-auto">Records</a>
        </div>
      </div>
    </div>

    <div *ngIf="loggedUser.userGroupType === 'administrator' || loggedUser.userGroupType === 'team leader'"
         class="col-lg-3 col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/action-log.png"
             height="200"
             class="card-img-top"
             alt="...">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Action logs </h5>
          <p class="card-text">In this section you can view the actions performed by different users.</p>
          <a routerLink="/logs"
             class="btn btn-primary mt-auto">Action logs</a>
        </div>
      </div>
    </div>
  </div>
</div>
