.container {
  max-width: 1300px;
  padding-top: 90px;
}

.card {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  min-height: 310px;
}

.card:hover {
  cursor: pointer;
  transition-duration: 0.6s;
  box-shadow: 0 0 7px 7px rgba(19, 112, 233, 0.8), 0 6px 20px 0 rgba(9, 110, 226, 0.8) !important;
}


