<div *ngIf="!pluginInstalled">
  <a class="btn btn-primary mt-2 ml-2"
     href="../../../../assets/web-video-ctrl/codebase/WebComponentsKit.exe">הורד פלאגין</a>
</div>

<div [hidden]="!pluginInstalled"
     id="divPlugin"
     class="plugin"></div>

