<div class="modal fade"
     id="openInterrogationModal"
     role="dialog"
     data-backdrop="static"
     aria-labelledby="openInterrogationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="openInterrogationModalLabel">Open interrogation</h5>
        <button type="button"
                class="close"
                (click)="onCloseClicked()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>There is an open interrogation that belongs to this room, are you want to continue?</h5>
      </div>
      <div class="modal-footer">
        <app-button [class]="'btn btn-secondary'"
                    [description]="'close'"
                    (onClick)="onCloseClicked()"></app-button>

        <app-button [class]="'btn btn-primary'"
                    [type]="'button'"
                    (onClick)="confirm()"
                    [description]="'confirm'"></app-button>
      </div>
    </div>
  </div>
</div>
