<div class="container-fluid">
  <div class="card shadow">
    <div class="card-header bg-primary text-light d-flex align-items-center">
      <div class="h3">Active interrogations </div>
      <div class="ml-auto">
        <app-loader [class]="'text-light'"></app-loader>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive rounded">
        <table class="table table-hover">
          <thead class="">
            <tr>
              <th scope="col"
                  class="fit">#</th>
              <th scope="col">Area</th>
              <th scope="col">Room</th>
              <th scope="col">Interview number</th>
              <th scope="col">Foreign name</th>
              <th scope="col">Case Number</th>
              <th scope="col">Foreign ID</th>
              <th scope="col">Nationality</th>
              <th scope="col">Investigator name</th>
              <th scope="col"
                  class="fit">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngIf="!dataIsReady">
              <td colspan="100%">
                <app-loader></app-loader>
              </td>
            </tr>

            <ng-container *ngIf="dataIsReady">
              <tr
                  *ngFor="let activeInterrogation of activeInterrogations | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
                <td scope="row"
                    class="fit font-weight-bold">
                  {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
                <td>{{activeInterrogation.nvr.nvrName}}</td>
                <td>{{activeInterrogation.camera.cameraName}}</td>
                <td>{{activeInterrogation.interrogation.interviewNumberEitan}}</td>
                <td>{{activeInterrogation.interrogation.foreignName}}</td>
                <td>{{activeInterrogation.interrogation.caseNumber}}</td>
                <td>{{activeInterrogation.interrogation.foreignIdNumber}}</td>
                <td>{{activeInterrogation.interrogation.nationality}}</td>
                <td>{{activeInterrogation.userName}}</td>
                <td class="fit">
                  <app-button [class]="'btn btn-sm btn-primary'"
                              [description]="'play'"
                              (onClick)="openModal(activeInterrogation)"></app-button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div *ngIf="dataIsReady"
             class="d-flex justify-content-between pr-2">
          <pagination-controls class="my-pagination"
                               [responsive]="true"
                               [directionLinks]="true"
                               (pageChange)="pageChanged($event)"></pagination-controls>


          <app-items-page-amount [total]="total"
                                 [page]="pagination.page"
                                 [itemsPerPage]="pagination.itemsPerPage"
                                 (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>

        </div>
      </div>
    </div>
  </div>


  <!-- <h3>Active interrogations</h3>
  <hr class="my-2">

  <app-loader class="my-2"></app-loader>

  <div class="table-responsive shadow-lg rounded">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"
              class="fit">#</th>
          <th scope="col">Area</th>
          <th scope="col">Room</th>
          <th scope="col">Interview number</th>
          <th scope="col">Foreign name</th>
          <th scope="col">Case Number</th>
          <th scope="col">Foreign ID</th>
          <th scope="col">Nationality</th>
          <th scope="col">Investigator name</th>
          <th scope="col"
              class="fit">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngIf="!dataIsReady">
          <td colspan="100%">
            <app-loader></app-loader>
          </td>
        </tr>

        <ng-container *ngIf="dataIsReady">
          <tr
              *ngFor="let activeInterrogation of activeInterrogations | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
            <td scope="row"
                class="fit font-weight-bold">
              {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
            <td>{{activeInterrogation.nvr.nvrName}}</td>
            <td>{{activeInterrogation.camera.cameraName}}</td>
            <td>{{activeInterrogation.interrogation.interviewNumberEitan}}</td>
            <td>{{activeInterrogation.interrogation.foreignName}}</td>
            <td>{{activeInterrogation.interrogation.caseNumber}}</td>
            <td>{{activeInterrogation.interrogation.foreignIdNumber}}</td>
            <td>{{activeInterrogation.interrogation.nationality}}</td>
            <td>{{activeInterrogation.userName}}</td>
            <td class="fit">
              <app-button [class]="'btn btn-sm btn-primary'"
                          [description]="'play'"
                          (onClick)="openModal(activeInterrogation)"></app-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="dataIsReady"
         class="d-flex justify-content-between pr-2">
      <pagination-controls class="my-pagination"
                           [responsive]="true"
                           [directionLinks]="true"
                           (pageChange)="pageChanged($event)"></pagination-controls>


      <app-items-page-amount [total]="total"
                             [page]="pagination.page"
                             [itemsPerPage]="pagination.itemsPerPage"
                             (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>

    </div>
  </div> -->
</div>

<app-active-interrogation-modal *ngIf="showModal"
                                (onCloseModal)="onCloseModal()"
                                [socket]="socket"
                                [activeInterrogation]="selectedActiveInterrogation"
                                [disconnected]="socketDisconnected"></app-active-interrogation-modal>

<app-close-active-interrogation-modal *ngIf="showCloseActiveInterrogationModal"
                                      (onCloseModal)="onCloseCloseActiveInterrogationModal()"
                                      [activeInterrogation]="selectedActiveInterrogation">
</app-close-active-interrogation-modal>
