<div class="container-fluid">

  <h3>Logs</h3>
  <hr class="my-2">

  <div class="d-sm-flex flex-sm-row-reverse mb-2">

    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">

      <app-search-table (onStartSearch)="searchStarted()"
                        (onEndSearch)="searchEnded()"
                        (onSearch)="onSearch($event)"></app-search-table>
    </div>

    <div class="mb-2 mb-sm-0 ml-0 ml-sm-2">
      <p-calendar [(ngModel)]="rangeDates"
                  selectionMode="range"
                  [readonlyInput]="true"
                  namae="dates"
                  dateFormat="dd/mm/yy"
                  [inputStyle]="{ 'cursor' : 'pointer'}"
                  inputStyleClass="form-control "
                  inputId="range"></p-calendar>
    </div>

    <app-button [class]="'btn btn-sm btn-block btn-primary'"
                [description]="'search'"
                [icon]="'fas fa-search'"
                [disabled]="!rangeDates[0] || !rangeDates[1] || !dataIsReady"
                (onClick)="onSearchByDatesClicked()"></app-button>
  </div>

  <div class="table-responsive shadow-lg rounded">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"
              class="fit">#</th>
          <ng-container *ngFor="let column of columns; let i = index">
            <th [ngClass]="{ 'fit': column.fit }"
                scope="col">
              <app-filter-table [filterNumber]="i + 1"
                                [name]="column.name"
                                [type]="column.type"
                                [property]="column.property"
                                (onSort)="sortByColumn($event)"
                                (onFilter)="filterByColumn($event)"
                                (onClearSort)="clearSortByColumn()"
                                (onClearFilter)="clearFilterByColumn()"></app-filter-table>
            </th>
          </ng-container>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngIf="!dataIsReady">
          <td colspan="3">
            <app-loader></app-loader>
          </td>
        </tr>

        <ng-container *ngIf="dataIsReady">
          <tr
              *ngFor="let log of logs | paginate: { itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: total }; let i = index">
            <td scope="row"
                class="fit font-weight-bold">
              {{ (pagination.page * pagination.itemsPerPage) - pagination.itemsPerPage + i + 1}}</td>
            <td>{{log.userName}}</td>
            <td>{{log.action}}</td>
            <td>{{log.time | date :' HH:mm:ss dd-MM-yyyy'}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div *ngIf="dataIsReady"
         class="d-flex justify-content-between pr-2">
      <pagination-controls class="my-pagination"
                           [responsive]="true"
                           [directionLinks]="true"
                           (pageChange)="pageChanged($event)"></pagination-controls>


      <app-items-page-amount [total]="total"
                             [page]="pagination.page"
                             [itemsPerPage]="pagination.itemsPerPage"
                             (onItemsPerPageChanged)="itemsPerPageChanged($event)"></app-items-page-amount>
    </div>
  </div>
</div>
