<div class="modal fade"
     id="openInterrogationsModal"
     data-backdrop="static"
     aria-labelledby="openInterrogationsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="openInterrogationsModalLabel">Open interrogations</h5>
        <button type="button"
                class="close"
                (click)="onCloseClicked()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <app-loader *ngIf="!dataIsReady"></app-loader>

        <div *ngIf="dataIsReady"
             class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Interogated area</th>
                <th scope="col">Interogated room</th>
                <th scope="col">Investigator area</th>
                <th scope="col">Investigator room</th>
                <th scope="col">Interview number</th>
                <th scope="col">Foreign name</th>
                <th scope="col">Case number</th>
                <th scope="col">Foreign ID</th>
                <th scope="col">Nationality</th>
                <th scope="col">Investigator name</th>
                <th scope="col">Start time</th>
                <th class="fit"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let interrogation of openInterrogationRecords; let i = index">
                <td> <b> {{ i + 1 }}</b> </td>
                <td>{{interrogation.nvrName}}</td>
                <td>{{interrogation.cameraName}}</td>
                <td>{{interrogation.investigatorNvrName}}</td>
                <td>{{interrogation.investigatorCameraName}}</td>
                <td>{{interrogation.interviewNumberEitan}}</td>
                <td>{{interrogation.foreignName}}</td>
                <td>{{interrogation.caseNumber}}</td>
                <td>{{interrogation.foreignIdNumber}}</td>
                <td>{{interrogation.nationality}}</td>
                <td>{{interrogation.userName}}</td>
                <td>{{interrogation.startTime | date : 'HH:mm:ss dd/MM/yyyy'}}</td>
                <td>

                  <app-button *ngIf="!interrogation['isLoading']"
                              [class]="'btn btn-sm btn-warning'"
                              [icon]="'far fa-trash-alt'"
                              (onClick)="deleteOpenInterrogationRecord(interrogation)"></app-button>

                  <app-loading-button *ngIf="interrogation['isLoading']"></app-loading-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <app-button [class]="'btn btn-secondary'"
                    [description]="'close'"
                    (onClick)="onCloseClicked()"></app-button>
      </div>

    </div>
  </div>
</div>
